<ion-header>
  <ion-toolbar>
    <ion-title>whatsapp</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loading" *ngIf="load">Loading&#8230;</div>
  <div class="content mt-5">
    <h3 class="text-center">Information WhatsApp</h3>
    <form [formGroup]="whats">
      <div class="form-group">
        <label for="telephone">Numéro de Téléphone</label>
        <input type="number" formControlName="numero" class="form-control" id="telephone" placeholder="Numéro WhatsApp">
      </div>
      <!-- <div class="form-group">
        <label for="codemarchan">Code marchant</label>
        <input type="number" formControlName="codemarchant" class="form-control" id="codemarchan" placeholder="Code Marchan">
      </div> -->
      <div class="form-group">
        <label for="whatshome">Message de WhatsApp de Bienvenue</label>
        <textarea class="form-control" formControlName="homemessage"  id="whatshome" rows="2"></textarea>
      </div>
      <div class="form-group">
        <label for="whatsshop">Message de WhatsApp l'ors de l'achat</label>
        <textarea class="form-control" formControlName="shopmessage" id="whatsshop" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-50" [disabled]="!isedit" (click)="save()">Enregistrer</button>
      <button type="submit" class="btn btn-secondary w-50" *ngIf="!isedit"  (click)="modifier()">Modifier</button>
      <button type="submit" class="btn btn-dark w-50" *ngIf="isedit"  (click)="annuler()">Annuler</button>

    </form>
  </div>
</ion-content>
